.header-container {
  display: flex;
  margin-bottom: 20px;
  position: fixed;
  z-index: 1;
  width: 800px;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  top: 0;
  background-color: yellowgreen;
  padding: 0 20px;
  box-shadow: 3px 4px 2px #aaaaaa, 
              3px -4px 2px #aaaaaa,
              /* -3px -4px 2px #aaaaaa, */
              -3px 4px 2px #aaaaaa;
  /* border-radius: 0 0 10px 10px; */
}

.header-container .menu-btn,
.header-container .search-container,
.header-container .post-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container .menu-btn,
.header-container .post-btn {
  background-color: white;
  border: none;
  cursor: pointer;
  color: var(--green);
  font-weight: bold;
  padding: 9px 15px;
  white-space: nowrap;
  gap: 5px;
  border: 3px solid var(--green);
}

.header-container .menu-btn svg,
.header-container .post-btn svg {
  width: 20px;
  height: 20px;
  fill: var(--green);
}

.header-container .search-container {
  flex: 1;
  display: flex;
  align-items: stretch;
}


.header-container .search-btn svg {
  width: 30px;
  height: 30px;
  fill: white;
}

.header-container .search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  border: none;
  cursor: pointer;
}

.header-container input {
  padding: 10px;
  border: 3px solid var(--green);
  color: var(--green);
  font-size: 1em;
  min-width: 0;
}

.header-container input::placeholder {
  color: var(--green);
  font-style: italic;
}

.header-container input:focus {
  outline: none;
}

.menu-container .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
}

.menu-container .mobile-content {
  display: none;
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
}

.menu-container .dropdown-content a,
.menu-container .mobile-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.menu-container .dropdown-content a:hover {
  background-color: #ddd;
}

@media (max-width: 1024px) {
  .header-container {
    width: 100%;
    padding: 0;
  }

  .header-container .search-container {
    flex: 1;
    max-width: 50%;
  }
}

@media (max-width: 768px) {
  .header-container {
    justify-content: center;
  }

  .header-container button .text {
    display: none;
  }

  .header-container .menu-btn,
  .header-container .post-btn {
    padding: 10px 5px;
    gap: 3px;
  }
}