h2 {
  text-align: center;
  margin-top: 0;
}

.upload-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.upload-post label {
  font-weight: bold;
}

.upload-post input,
.upload-post select,
.upload-post #description,
.upload-post #select-address {
  padding: 5px 10px;
  border: 2px solid var(--green);
  font-family: "Be Vietnam Pro", serif;
  font-size: 1em;
}

.upload-post #select-address {
  cursor: pointer;
}

.upload-post #select-address:hover {
  opacity: 0.75;
}

.upload-post input:focus,
.upload-post select:focus,
.upload-post #description:focus {
  border: 2px solid var(--green);
  outline: none;

}

.upload-post label::after {
  color: red;
  content: " *";
}

.upload-post label.not-require::after {
  content: "";
}

.upload-post #description {
  height: 100px;
  resize: none;
  border: 2px solid var(--green);
}

.upload-post .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.modal {
  display: none; 
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 5;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal label {
  align-self: flex-start;
}

.modal-content {
  background-color: white;
  margin: 10% 38% 0 38%;
  padding: 20px;
  width: 40%;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
  /* min-width: 300px; */
}

.close {
  position: absolute;
  top: -5px;
  right: 3px;
  font-size: 30px;
  cursor: pointer;
  color: red;
}

.close:hover {
  opacity: 0.5;
}

.upload-post .post-btn,
.modal button {
  background-color: var(--green);
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.upload-post .post-btn {
  margin-top: 5px;
}

.upload-post input:focus:invalid,
.upload-post textarea:invalid {
  border-color: red;
}

.error {
  color: red;
  font-style: italic;
}

#image-input {
  width: 100%;
}

#image-container { 
  /* margin-top: 20px;  */
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 15px; 
  border: none;
}

#image-container .image-wrapper { 
  position: relative; 
  display: inline-block; 
}

#image-container .preview-image { 
  max-width: 150px; 
  max-height: 150px; 
  border-radius: 8px; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
  object-fit: cover;
}

#image-container .remove-btn { 
  position: absolute; 
  top: 5px; 
  right: 5px; 
  background-color: red;
  color: white; 
  border: none; 
  padding: 5px; 
  font-size: 12px; 
  cursor: pointer; 
  border-radius: 50%; 
}

#image-container .remove-btn:hover { 
  background-color: darkred; 
}

#add-more-btn { 
  display: none; 
  background-color: green; 
  color: white; 
  border: none; 
  padding: 10px; 
  cursor: pointer; 
  border-radius: 5px; 
  font-size: 20px; 
  width: 40px; 
  height: 40px; 
}

#add-more-btn:hover { 
  background-color: darkgreen; 
}

#image-input { 
  display: block; 
  /* margin: 20px auto;  */
}

#hidden-file-input { 
  display: none; 
}

@media (max-width: 1024px) {
  .modal-content {
    background-color: white;
    margin: 25% auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
  }
}