.activity-box {
  background-color: white;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}
.profile-circle {
  width: 100px;
  height: 100px;
  background-color: #28a745;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.btn-link.active {
  font-weight: bold;
  color: blue;
  border-bottom: 2px solid blue;
}
.btn-link {
  font-weight: bold;
  color: black;
}
.btn-link:hover {
  color: blue;
}
.content {
  display: none; /* Ẩn nội dung mặc định */
}
.content.active {
  display: block; /* Hiển thị nội dung được chọn */
}
.cover-image {
  width: 100%;
  height: 38vh; /* 1/3 chiều cao màn hình */
  object-fit: cover; /* Giữ tỷ lệ ảnh */
  position: relative;
}
.star-rating {
  color: #ffc107;
}
.avatar-container {
  position: absolute;
  bottom: -75px; /* Nửa chiều cao avatar */
  left: 50%;
  transform: translateX(-50%);
}
.content-below {
  margin-top: 100px; /* Điều chỉnh giá trị này để phù hợp với độ cao của avatar + viền */
  padding: 20px;
  clear: both; /* Đảm bảo nội dung xuống dưới avatar */
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Tạo hình tròn */
  object-fit: cover;
  border: 4px solid white; /* Viền trắng xung quanh avatar */
}
