.sidebar {
  box-shadow: 3px 4px 3px #aaaaaa, 3px -4px 3px #aaaaaa;
  position: fixed;
  width: 200px;
  top: 20px;
  bottom: 20px;
  left: 0;
  border-radius: 0 20px 20px 0;
  color: var(--green);
  display: flex;
  flex-direction: column;
  z-index: 2;
  background-color: white;
  align-items: center;
  justify-content: center;
  transition: width 0.3s ease;
  /* height: fit-content; */
  /* padding: 10px 20px 10px 0; */
}

.sidebar .logo-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.sidebar .logo {
  max-width: 100px;
}

.sidebar ul {
  list-style: none;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 0;
}

.sidebar a {
  text-decoration: none;
  color: var(--green);
}

.sidebar ul svg {
  fill: var(--green);
  width: 30px;
  height: 30px;
}

.sidebar ul a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar .top-menu {
  flex-grow: 1;
}

.sidebar .bottom-menu {
  padding-bottom: 10px;
}

.sidebar .toggle-sidebar svg {
  width: 25px;
  height: 25px;
  fill: white;
}

.sidebar .toggle-sidebar {
  position: absolute;   
    right: -10%;
    top: 30%;
    background-color: var(--green);
    border: none;
    cursor: pointer;
    padding: 3px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.sidebar .toggle-sidebar:hover {
  opacity: 0.8;
}

.sidebar-collapse {
  width: 60px;
}

@media (max-width: 1024px) {
  .sidebar {
    display: none;
  }

  body {
    margin: 0;
  }

}

/* @media (max-height: 400px) { 
  .sidebar {
    height: fit-content;
    overflow: auto;
  }


} */