:root {
  --green-color: #4CAF50;
  --black-color: #000;
  --background-color: #F8F8F8;
  --bg-logo-color: #0047ab;
  --input-background: #EEE;
  --button-hover: #45A049;
}

.logo {
  background-color: var(--bg-logo-color);
}