<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="vi">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Chợ rất tốt</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/password_new.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <img src="{% static 'images/logo.svg' %}" alt="Logo" />
      </div>
      <div class="form-container">
        <h2>QUÊN MẬT KHẨU</h2>
        <form>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" placeholder="Số điện thoại/Email" required>
            </div>
            <div class="form-group">
                <label for="otp">Mã xác nhận</label>
                <input type="text" id="otp" placeholder="Mã xác nhận" required>
            </div>
            <div class="buttons">
                <button type="button" class="getOTP">Nhận mã</button>
                <button type="submit" class="changePassword">Xác nhận</button>
            </div>
            <a href="/signin" class="login">Đăng nhập?</a>
        </form>
    </div>
    </div>
  </body>
</html>
