{% extends 'base.html' %}
{% load static %}
{% block title %}Đăng bán{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'styles/posting.css' %}">
{% endblock %}


{% block scripts %}
    <script src="{% static 'scripts/posting.js' %}" defer></script>
{% endblock %}

{% block content %}
  <h2>Đăng bán sản phẩm</h2>
  <form class="upload-post" enctype="multipart/form-data" novalidate>
    <div class="input-container">
      <label for="title">Tiêu đề</label>
      <input type="text" id="title" name="title" placeholder="Tiêu đề (tối đa 50 kí tự)" maxlength="50" minlength="2" required/>
      <div class="error"></div>
    </div>

    <div class="row">
      <div class="input-container">
        <label for="category">Danh mục sản phẩm</label>
        <select id="category" name="category">
          <option value="electronics">Đồ điện tử</option>
          <option value="fashion">Thời trang</option>
        </select>
      </div>
  
      <div class="input-container">
        <label for="price">Giá</label>
        <input type="number" id="price" name="price" required min="10000" placeholder="Giá"/>
        <div class="error"></div>
      </div>  
    </div>

    <div class="input-container">
      <label for="product-name">Tên sản phẩm</label>
      <input type="text" id="product-name" name="product-name" required placeholder="Tên sản phẩm" minlength="2"/>
      <div class="error"></div>
    </div>

    <div class="input-container">
      <label for="condition">Tình trạng</label>
      <select id="condition" name="condition">
        <option value="new">Mới</option>
        <option value="used">Đã qua sử dụng</option>
      </select>
    </div>

    <div class="input-container">
      <label for="description">Mô tả</label>
      <textarea id="description" name="description" required maxlength="300" minlength="10" placeholder="Mô tả (tối đa 300 kí tự)"></textarea>
      <div class="error"></div>
    </div>

    <div class="input-container">
      <label>Ảnh (tối đa 6 ảnh)</label>
      <input type="file" id="image-input" accept="image/*" multiple>
      <div id="image-container"></div>
      <div class="error"></div>
      <button id="add-more-btn" type="button">+</button>

      <input type="file" id="hidden-file-input" accept="image/*" multiple>
    </div>

    <div class="input-container">
      <label for="select-address">Địa chỉ</label>
      <div id="select-address"readonly>Chọn địa chỉ</div>
      <div class="error"></div>
    </div>

  <div id="modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Địa chỉ</h2>
      <div class="input-container">
        <label for="select-city">Tỉnh/thành phố</label>
        <select id="select-city">
          <option value="0">Vui lòng chọn tỉnh/thành phố</option>
        </select>
      </div>
    
      <div class="input-container">
        <label for="select-district">Quận/huyện</label>
        <select id="select-district" disabled></select>
      </div>
      
      <div class="input-container">
        <label for="select-ward">Phường/xã</label>
        <select id="select-ward" disabled></select>
      </div>
      
      <div class="input-container">
        <label for="street" class="not-require">Số nhà</label>
        <input id="street" type="text" placeholder="Số nhà">
      </div>

      <button id="close-modal" class>XONG</button>
    </div>
  </div>

    <button type="submit" class="post-btn">Đăng bán</button>
  </form>

{% endblock %}
