<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="vi">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Chợ rất tốt</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <img src="{% static 'images/logo.svg' %}" alt="Logo" />
      </div>
      <div class="form-container">
        <h2>ĐĂNG KÝ</h2>
        <form mehtod="POST" action="/signup">
          {% csrf_token %}
          <div class="form-group">
            <label for="fullname">Họ và tên</label>
            {% comment %} {{form.fullname}} {% endcomment %}
            <input type="text" id="fullname" required>
          </div>
          <div class="form-group">
            <label for="phone">Số điện thoại</label>
            {% comment %} {{form.phone}} {% endcomment %}
            <input type="text" id="phone" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            {% comment %} <div class="form-input" id="email"> {% endcomment %}
              {{form.email}}
            {% comment %} </div> {% endcomment %}
          </div>
          <div class="form-group">
            <label for="password">Mật khẩu</label>
            {% comment %} <div class="form-input" id="password"> {% endcomment %}
              {{form.password1}}
            {% comment %} </div> {% endcomment %}
          </div>
          <div class="form-group">
            <label for="confirm-password">Xác nhận mật khẩu</label>
            {% comment %} <div class="form-input" id="confirm-password"> {% endcomment %}
              {{form.password2}}
            {% comment %} </div> {% endcomment %}
          </div>
          <div class="buttons signup">
            <button type="button" class="login"><a href="signin/">Đăng nhập</a></button>
            <button type="submit" class="register">Đăng ký</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
