<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="vi">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Chợ rất tốt</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <img src="{% static 'images/logo.svg' %}" alt="Logo" />
      </div>
      <div class="form-container">
        <h2>ĐĂNG NHẬP</h2>
        <form>
            <div class="form-group">
                <label for="email">Số điện thoại/Email</label>
                <input type="text" id="email" placeholder="Số điện thoại/Email" required>
            </div>
            <div class="form-group">
                <label for="password">Mật khẩu</label>
                <input type="password" id="password" placeholder="Mật khẩu" required>
            </div>
            <div class="buttons signin">
                <button type="button" class="register"><a href="/">Đăng ký</a></button>
                <button type="submit" class="login">Đăng nhập</button>
            </div>
            <a href="/forgotPassword" class="forgot-password">Quên mật khẩu?</a>
        </form>
    </div>
    </div>
  </body>
</html>
